/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'october_crow';
  src: url('assets/fonts/october_crow.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
